.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.67%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.67%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.67%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.67%;
}
.col-12{
	width: 100%;
}
body{
	font-size: 1.5rem;
	font-family: Arial;
	background-color: #ebeded;
}
li{
	margin: 0rem 1rem 0rem 1rem;
}
.rea{
	background-color: #fff;
}
.nav{
	display: flex;
	list-style-type: none;
	text-align: center;
    padding: 2rem 3rem;
}
.reer{
	text-decoration: none;
	color: #000;
}
.reer:hover{
    color: #f522d5;
}
.boot{
	background-image: url("../images/night-1927265_1280.jpg");
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}
.boot1{
	color: gray;
	padding: 0rem 4rem;
	text-align: left;
	padding-top: 5rem;
}
.boot2{
	color: gray;
	padding: 0rem 4rem;
	text-align: left;
}
.boot3{
     color: #fff;
     text-align: left;
     padding: 0rem 4rem;
}
.ree{
	color: #fc53f7;
}
.tode{
	background-color: rgba(0, 0, 0, 0.5 );
	padding-top: 5rem;
	padding-bottom: 16.4rem;
}
.tou{
	text-align: center;
	color: #1826a3;
	padding-top: 2rem;
}
.dod{
	border: 1px solid #fff;
	background-color: #ebfaff;
	margin: 2rem 6rem 2rem;
	border-radius: 3rem;
}
.you{
	text-align: center;
	color: #05401f;
}
h3{
	 color: #000;
	padding: 0.5rem 1.5rem;
	padding-bottom: 0.1rem;
	font-weight: 400px;
	color: #3ae805;
	background-color: #000;
}
.deer{
	background-color: #fff;
	border: 1px solid #fff;
	margin: 2rem 1rem 1rem;
	border-radius: 1.5rem;
	padding-bottom: 1.5rem;
}
.uoi{
	line-height: 3rem;
	margin: 1rem 1.5rem;
}
.top{
	padding-top: 2rem;
}
.form-x{
	padding-bottom: 250px;
	margin: 0 2rem 0rem;
	margin-left: 0rem;
	border: 0.001rem solid lightgrey;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	background-color: #96e6f2;
}
.form-w{
	padding: 30px;
	margin: 0 2rem 2rem;
	margin-left: 0rem;
	border: 0.001rem solid lightgrey;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	background-color: #96e6f2;
}
.dara{
	background-color: #c29bc1;
	border: 1px solid #fff;
	margin: 3rem 2rem 1rem;
	border-radius: 1.5rem;
	padding-bottom: 1.5rem;
}
h2{
	padding: 0.5rem 1.5rem;
	padding-bottom: 0.1rem;
	font-weight: 400px;
	color: #000;
}
.btn{
  	padding: 30px;
	margin: 2rem 2rem 2rem;
	margin-left: 0rem;
	border: 0.001rem solid lightgrey;
	font-size: 1rem;
	border-radius: 1.5rem;
	background-color: #2a8fe8;
	color: #fff;
}