<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Instructors</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
     <div class="row">
     	<div class="col-4"></div>
     	<div class="col-4">
     		<ul class="nav">
     			<li><a href="home.html" class="reer">Home</a></li>
     			<li><a href="instructors.html"class="reer">Instructors</a></li>
     			<li><a href="news.html" class="reer">News</a></li>
     			<li><a href="contact_us.html" class="reer">Contact Us</a></li>
     		</ul>
     	</div>
        <div class="col-4"></div>
     </div>
</body>
</html>