<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
     <div class="row rea">
     	<div class="col-4"></div>
     	<div class="col-4">
     		<ul class="nav">
     			<li><a href="home.html" class="reer">Home</a></li>
     			<li><a href="instructors.html"class="reer"class="reer"class="reer">Instructors</a></li>
     			<li><a href="news.html"class="reer"class="reer">News</a></li>
     			<li><a href="contact_us.html"class="reer">Contact Us</a></li>
     		</ul>
     	</div>
     	<div class="col-4"></div>
     </div>
     <div class="row">
     	<div class="col-1"></div>
     	<div class="col-5 dara">
     		<img src="../images/person-822803_1280.jpg" width="100%">
     		<h2>The power of consistency: Maintaining<br> a Regular Blogging Schedule</h2>
     		<p class="uoi">Discover how to keep up consistent blogging schedule to keep your audience engaged</p>
     	</div>
     	<div class="col-5 dara">
     		<img src="../images/macbook-1093641_1280.jpg" width="100%">
     		<h2>Engaging Your Audience with Creative<br> Content</h2>
               <p class="uoi">Learn how to make creative content that boosts audience engagement</p>
     	</div>
     	<div class="col-1"></div>
     </div>
        <div class="row">
        	<div class="col-1"></div>
     	<div class="col-5 dara">
     		<img src="../images/photo-351528_1280.jpg" width="100%">
     		<h2>Clear Caption of Photos Using Modern<br> Cameras</h2>
     		<p class="uoi">Learn how to capture clear photos with the assistence of Exo to expand your bisiness in the future</p>
     	</div>
     	<div class="col-5 dara">
     		<img src="../images/night-1927265_1280.jpg" width="100%">
     		<h2>Wider Video Coverage with Modernized<br> Digital Caremas</h2>
               <p class="uoi">Discover how to record videos with modernized digital cameras to attract the attention of viewers</p>
     	</div>
     	<div class="col-1"></div>
     </div>
</body>
</html>